body.has-sidebar-page {
  #main-outlet-wrapper {
    grid-template-columns: 1fr minmax(0, var(--d-max-width)) 1fr;
  }

  .wrap {
    max-width: unset;
  }
}

#main-outlet-wrapper {
  padding: 0;

  #main-outlet {
    margin: 0 auto;
    max-width: var(--d-max-width);
    width: 100%;
  }
}

.list-container {
  background: var(--secondary);
  padding: 0 1em 1em 1em;
  border-bottom-left-radius: var(--d-border-radius);
  border-bottom-right-radius: var(--d-border-radius);
  border-bottom: 1px solid var(--primary-low);
  border-right: 1px solid var(--primary-low);
  border-left: 1px solid var(--primary-low);
  box-shadow: 8px 8px 0px 0px rgba(var(--secondary-rgb), 0.65);
}

.list-controls {
  background: var(--secondary);
  padding: 1em 1em 0 1em;
  border-top-left-radius: var(--d-border-radius);
  border-top-right-radius: var(--d-border-radius);
  border-top: 1px solid var(--primary-low);
  border-right: 1px solid var(--primary-low);
  border-left: 1px solid var(--primary-low);
  box-shadow: 8px 8px 0px 0px rgba(var(--secondary-rgb), 0.65);
}

.display-search-banner {
  .custom-search-banner-wrap {
    h1 {
      font-size: 2.75rem;
      margin-bottom: 0;

    }
  }
}

.display-search-banner {
  .search-input {
    border: 2px solid var(--primary-low);
    border-radius: var(--d-border-radius);
    background-color: var(--secondary);
  }
}

.display-search-banner {
  #search-term {
    padding: .75em;
  }
}
